button {
    width: 100%;
    height: 100%;
}

.action {
    background-color: pink;
}

.situation {
    background-color: greenyellow;
}

.emotion {
    background-color: lightblue;
}

.thought {
    background-color: yellow;
}

.association {
    background-color: #F9BD4F;
}

.tileComponent {
    height: 100%;
}
